@import "./variables.css";

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about__text {
  width: 60%;
  text-align: center;
  opacity: 1;
}

.about__text button {
  margin: 3rem 0;
}

.about__text h1 {
  font-size: 5rem;
  line-height: 6.5rem;
}

.about__text p {
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  opacity: 1;
  transform: translateZ(0);
}

.about__text--left {
  font-size: 1.2rem;
  text-align: left;
  padding-left: 0.5rem;
}

.about__text--right {
  font-size: 1.2rem;
  text-align: right;
}

.about__text--down {
  font-size: 1rem;
  margin-top: 2rem;
}

.about a {
  font-weight: bold;
}

.about__stack ul {
  display: flex;
  gap: 25px;
  max-width: 100%;
  flex-wrap: nowrap;
  max-width: 800px;
  overflow-x: hidden;
}

.about__stack > ul:first-child > li {
  animation: scrolling-left ease-in-out;
  animation-timeline: scroll(root);
}

.about__stack > ul:last-child > li {
  animation: scrolling-right ease-in-out;
  animation-timeline: scroll(root);
}

@keyframes scrolling-left {
  to {
    transform: translate(-200px);
  }
}

@keyframes scrolling-right {
  from {
    transform: translateX(-150px);
  }
  to {
    transform: translate(200px);
  }
}

.about__stack li p {
  font-size: 26px;
  text-transform: uppercase;
  text-align: right;
  font-weight: 300;
}

@media (max-width: 567px) {
  .about {
    flex-direction: column;
  }
  .about__text {
    width: 100%;
  }
  .about__text img {
    display: block;
    width: 100%;
    margin-top: 30px;
  }

  .about::before {
    top: 15%;
    left: 35%;
  }

  .about__text h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
}
