@import "./variables.css";

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about__image {
  width: 100px;
  border-radius: 50%;
  position: relative;
}

.about__circle {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--accent);
  filter: blur(10px);
  box-shadow: 8px 8px 68px 30px var(--accent);
  opacity: 0.8;
  z-index: -1;
  animation: scale-up-down 5s ease infinite;
}

@keyframes scale-up-down {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.about__text {
  width: 60%;
  text-align: center;
  opacity: 1;
}

.about__text img {
  display: none;
}

.about__text button {
  margin: 3rem 0;
}

.about__text p {
  margin-top: 20px;
}

.about__stack ul {
  display: flex;
  gap: 20px;
  max-width: 100%;
  flex-wrap: wrap;
}

.about__stack li p {
  font-size: 26px;
  text-transform: uppercase;
  text-align: right;
  font-weight: 300;
}

@media (max-width: 567px) {
  .about {
    flex-direction: column;
  }
  .about__text {
    width: 100%;
    margin-top: 60px;
  }
  .about__text img {
    display: block;
    width: 100%;
    margin-top: 30px;
  }

  .about::before {
    top: 15%;
    left: 35%;
  }
}
