@import "./variables.css";

.projects .section__content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.projects__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15vw;
  padding: 1.5rem;
  border-radius: 4px;
  border: 1px solid var(--accent);
  min-height: 30vh;
  transition: transform 0.5s ease-out;
}

.projects__item:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.projects__item__title {
  font-weight: bold;
}

.projects__item__icons img {
  width: 20px;
  filter: invert(75%) sepia(70%) saturate(3210%) hue-rotate(358deg)
    brightness(103%) contrast(107%);
}

.projects__item__icons img:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1300px) {
  .projects__item {
    width: 30vw;
    min-height: 25vh;
  }
}

@media screen and (max-width: 567px) {
  .projects__item {
    width: 100%;
    min-height: 20vh;
  }
}
