@import './variable.scss';


.country-selector {
  width: $elementsWidth;
  border-radius: 8px;
  height: 40px;
  width: $elementsWidth;
  background-color: white;
  transition: height 0.3s ease-out;
  margin-bottom: 100px;

  &__input {
    position: relative;
    border: 2px solid $light-grey;
    border-radius: 8px;

    input {
      width: 100%;
      height: 40px;
      box-sizing: border-box;
      padding-left: 40px;
      border: none;
      border-radius: 8px;
      font-family: 'Poppins', sans-serif;
  
      &:focus,
      &:focus-visible {
        outline: none;
      }
    }

    &__icon {
      position: absolute;
      width: 20px;

      &--search {
        top: 10px;
        left: 10px;
      }

      &--remove {
        top: 10px;
        right: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }



  &__content {
    display: none;
    background-color: white;
    // height: calc(100% - 60px);
    border-radius: 8px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    border: 2px solid $light-grey;

    &--hide {
      display: none;
    }

    &--show {
      display: block;
    }
  }

  &__option {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &__flag {
      height: 20px;
      width: auto;
      margin-right: 20px;
    }
  }
}

#country-selector.opened {
  // height: 300px;
}

.opened {
  .country-selector {
    &__input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: none;
    }

    &__content {
      display: block;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

    }
  }
}

@media (max-width: $sm) {
  .country-selector {
    width: 100%;
  }
}