html {
  height: 100%;
}

body {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F6F4;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

body p {
  margin: 0;
}

h1 {
  color: black;
}

.country-selector {
  width: 350px;
  border-radius: 8px;
  height: 40px;
  width: 350px;
  background-color: white;
  -webkit-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
}

.country-selector__input {
  position: relative;
}

.country-selector__input input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px;
  font-family: 'Poppins', sans-serif;
}

.country-selector__input input:focus, .country-selector__input input:focus-visible {
  outline: none;
}

.country-selector__input__icon {
  position: absolute;
  width: 20px;
}

.country-selector__input__icon--search {
  top: 10px;
  left: 10px;
}

.country-selector__input__icon--remove {
  top: 10px;
  right: 10px;
}

.country-selector__input__icon--remove:hover {
  cursor: pointer;
}

.country-selector__content {
  display: none;
  background-color: white;
  border-radius: 8px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.country-selector__content--hide {
  display: none;
}

.country-selector__content--show {
  display: block;
}

.country-selector__option {
  padding: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.country-selector__option__flag {
  height: 20px;
  width: auto;
  margin-right: 20px;
}

.opened .country-selector__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.opened .country-selector__content {
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E3DFED;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5D33D5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3d17a3;
}

.loader {
  position: absolute;
  top: 12px;
  right: 40px;
  border: 4px solid #E3DFED;
  border-radius: 50%;
  border-top: 4px solid #5D33D5;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

.country-details-modal {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: -5px 1px 3px -2px rgba(128, 128, 128, 0.26);
          box-shadow: -5px 1px 3px -2px rgba(128, 128, 128, 0.26);
  padding: 30px;
}
/*# sourceMappingURL=styles.css.map */