@import './modal.scss';
@import './selector.scss';
@import './variable.scss';

html {
  height: 100%;
}

body {
  height: 80%;
  display: flex;
  justify-content: center;
  // align-items: center;
  background: linear-gradient(315deg, hsla(0, 5%, 96%, 1) 34%, hsla(275, 100%, 95%, 1) 82%);  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow: hidden;
  p {
    margin: 0;
  }
}

.main {
  position: fixed;
  top: 30%;
  padding: 40px;
  border-radius: 10px;
  height: 150px;
  background-color: white;
  transition: 0.5s ease height;
}

h1 {
  color: black;
  font-size: 32px;
  margin: 0;
}


.background-image {
  max-width: 400px;
  position: absolute;
  opacity: 0.1;
}

.image-show-left {
  left: -50px;
  top: -50px;
  animation: show-left $show-animation-time ease-in-out;
  transform: rotate(-10deg);
}
.image-show-right {
  bottom: -50px;
  right: 100px;
  animation: show-right $show-animation-time ease-in-out;
  transform: rotate(10deg);
}

@keyframes show-left {
  0% {
    transform: translate3d(-95%, -40%, 0);
  }
}

@keyframes show-right {
  0% {
    transform: translate3d(95%, -20%, 0);
  }
}


@media screen and (max-width: $xl) {
  p {
    font-size: 14px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $light-purple; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $purple; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark-purple; 
}

.loader {
  position: absolute;
  top: 12px;
  right: 40px;
  border: 4px solid $light-purple;
  border-radius: 50%;
  border-top: 4px solid $purple;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.hide {
 display: none;
}

.flag {
  border: 1px solid $light-grey;
}



@media (min-width: $md ) and (max-width: $xl) {
  body {
    justify-content: start;
    padding-left: 50px;
  }
}


@media (max-width: $sm) {
  .main {
    padding: 15px;
    width: calc(100% - 60px);
  }

  h1 {
    font-size: 22px;
  }
}
