.country-details {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: -5px 1px 3px -2px rgba(128, 128, 128, 0.26);
          box-shadow: -5px 1px 3px -2px rgba(128, 128, 128, 0.26);
}

.country-details__content {
  padding: 20px;
}

.country-details__close-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 30px;
}

.country-details__close-icon:hover {
  cursor: pointer;
}

.country-details__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.country-details__title__flag {
  height: 30px;
  margin-right: 10px;
}

.country-details table {
  width: 100%;
}

.country-details__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.country-details__info td {
  width: 50%;
  text-align: left;
}

.country-details__info td:first-child p {
  font-weight: 600;
  margin-right: 10px;
}

.country-details__coat-of-arms p {
  font-weight: 600;
  margin-right: 10px;
}

.country-details__coat-of-arms__wrapper {
  text-align: center;
  margin-top: 30px;
}

.country-details__coat-of-arms__wrapper img {
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .country-details {
    width: 100%;
    left: 0;
    padding: 0;
  }
  .country-details__content {
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .country-details {
    width: 40%;
  }
}

.modal-fade-in {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

@-webkit-keyframes fadeIn {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.country-selector {
  width: 350px;
  border-radius: 8px;
  height: 40px;
  width: 350px;
  background-color: white;
  -webkit-transition: 0.5s ease height;
  transition: 0.5s ease height;
  border: 2px solid #e6e5e5;
  border-radius: 8px;
  margin-top: 20px;
}

.country-selector__input {
  position: relative;
}

.country-selector__input input {
  width: 100%;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px;
  border: none;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
}

.country-selector__input input:focus, .country-selector__input input:focus-visible {
  outline: none;
}

.country-selector__input__icon {
  position: absolute;
  width: 20px;
}

.country-selector__input__icon--search {
  top: 10px;
  left: 10px;
}

.country-selector__input__icon--remove {
  top: 10px;
  right: 10px;
}

.country-selector__input__icon--remove:hover {
  cursor: pointer;
}

.country-selector__content {
  visibility: hidden;
  height: 0px;
  background-color: white;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s ease height;
  transition: 0.5s ease height;
}

.country-selector__content--hide {
  display: none;
}

.country-selector__content--show {
  display: block;
}

.country-selector__option {
  padding: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.country-selector__option__flag {
  height: 20px;
  width: auto;
  margin-right: 20px;
}

.country-selector__option:hover {
  background-color: #f4effcff;
}

.opened .country-selector__content {
  visibility: visible;
}

@media (max-width: 576px) {
  .country-selector {
    width: 100%;
  }
}

html {
  height: 100%;
}

body {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(315deg, #f5f4f4 34%, #f4e6ff 82%);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow: hidden;
}

body p {
  margin: 0;
}

.main {
  position: fixed;
  top: 30%;
  padding: 40px;
  border-radius: 10px;
  height: 150px;
  background-color: white;
  -webkit-transition: 0.5s ease height;
  transition: 0.5s ease height;
}

h1 {
  color: black;
  font-size: 32px;
  margin: 0;
}

.background-image {
  max-width: 400px;
  position: absolute;
  opacity: 0.1;
}

.image-left {
  left: -50px;
  top: -50px;
}

.image-right {
  right: 100px;
  bottom: -50px;
}

.image-show-left {
  -webkit-animation: show-left;
          animation: show-left;
  -webkit-animation-duration: 900ms;
          animation-duration: 900ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.image-hide-left {
  -webkit-animation: hide-left;
          animation: hide-left;
  -webkit-animation-duration: 900ms;
          animation-duration: 900ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.image-show-right {
  -webkit-animation: show-right;
          animation: show-right;
  -webkit-animation-duration: 900ms;
          animation-duration: 900ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.image-hide-right {
  -webkit-animation: hide-right;
          animation: hide-right;
  -webkit-animation-duration: 900ms;
          animation-duration: 900ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes show-left {
  0% {
    -webkit-transform: translate3d(-100%, -50%, 0);
            transform: translate3d(-100%, -50%, 0);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes show-left {
  0% {
    -webkit-transform: translate3d(-100%, -50%, 0);
            transform: translate3d(-100%, -50%, 0);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@-webkit-keyframes hide-left {
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    -webkit-transform: translate3d(-100%, -50%, 0);
            transform: translate3d(-100%, -50%, 0);
  }
}

@keyframes hide-left {
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    -webkit-transform: translate3d(-100%, -50%, 0);
            transform: translate3d(-100%, -50%, 0);
  }
}

@-webkit-keyframes show-right {
  0% {
    -webkit-transform: translate3d(100%, 50%, 0);
            transform: translate3d(100%, 50%, 0);
  }
  100% {
    -webkit-transform: translate3d(50%, 20%, 0);
            transform: translate3d(50%, 20%, 0);
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes show-right {
  0% {
    -webkit-transform: translate3d(100%, 50%, 0);
            transform: translate3d(100%, 50%, 0);
  }
  100% {
    -webkit-transform: translate3d(50%, 20%, 0);
            transform: translate3d(50%, 20%, 0);
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@-webkit-keyframes hide-right {
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    -webkit-transform: translate3d(100%, 100%, 0);
            transform: translate3d(100%, 100%, 0);
  }
}

@keyframes hide-right {
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    -webkit-transform: translate3d(100%, 100%, 0);
            transform: translate3d(100%, 100%, 0);
  }
}

@media screen and (max-width: 1024px) {
  p {
    font-size: 14px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4effcff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5D33D5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3d17a3;
}

.loader {
  position: absolute;
  top: 12px;
  right: 40px;
  border: 4px solid #f4effcff;
  border-radius: 50%;
  border-top: 4px solid #5D33D5;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

.flag {
  border: 1px solid #e6e5e5;
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 50px;
  }
}

@media (max-width: 576px) {
  .main {
    padding: 15px;
    width: calc(100% - 60px);
  }
  h1 {
    font-size: 22px;
  }
}
/*# sourceMappingURL=styles.css.map */